<span id="music" data-api="{{ host }}/api/jellyfin">(loading...)</span>
<script>
  function fetchMusic() {
    const musicElement = document.getElementById('music');
    fetch(musicElement.dataset.api)
      .then(response => response.json())
      .then(data => {
        if (data.length === 0) {
          musicElement.innerHTML = 'nothing :despair:';
          return;
        }

        const track = data[0];
        const nameStrong = document.createElement('strong');
        const artistStrong = document.createElement('strong');
        nameStrong.textContent = track.name;
        artistStrong.textContent = track.artist;

        musicElement.innerHTML = '';
        musicElement.appendChild(nameStrong);
        musicElement.appendChild(document.createTextNode(' by '));
        musicElement.appendChild(artistStrong);
        if (track.album && track.album !== track.name && track.album !== track.artist)
          musicElement.appendChild(document.createTextNode(` (${track.album})`));
        if (track.name.toLowerCase().includes('r.i.p.')) setTheme('rip-skelly', false);
      })
      .catch(error => {
        console.error('error fetching music data:', error);
        document.getElementById('music').innerHTML = 'error :c';
      });
  }

  fetchMusic();
  setInterval(fetchMusic, 60000);
</script>
