<nav>
  <div class="sidebar-top">
    <a class="sidebar-link" href="/">adam perkowski</a>

    {% for uri in uris %}
      {% if uri.uri == "/" or not uri.in_menu %}
        {% continue %}
      {% endif %}

      {% set name = uri.uri | trim_start_matches(pat="/") | replace(from="-", to="_") %}

      {# TODO: "│  ├─ " #}

      {% if loop.last %}
        <a class="sidebar-link" href="{{ uri.uri }}">└─ {{ name }}</a>
      {% else %}
        <a class="sidebar-link" href="{{ uri.uri }}">├─ {{ name }}</a>
      {% endif %}
    {% endfor %}
  </div>

  <div class="sidebar-bottom">
    <div class="webring">
      <a href="https://nixwebr.ing/prev/adamperkowski">&lt;-</a>
      <a href="https://nixwebr.ing">nix</a>
      <a href="https://nixwebr.ing/next/adamperkowski">-&gt;</a>
    </div>
    <div class="webring">
      <a href="https://ctp-webr.ing/adamperkowski/previous">&lt;-</a>
      <a href="https://ctp-webr.ing">catppuccin</a>
      <a href="https://ctp-webr.ing/adamperkowski/next">-&gt;</a>
    </div>
    <div class="webring">
      <a href="https://ebil.club/webring/adam/prev/">&lt;-</a>
      <a href="https://ebil.club/webring/">ebil.club</a>
      <a href="https://ebil.club/webring/adam/next/">-&gt;</a>
    </div>

    <select id="select-theme" aria-label="select theme">
      <option>mimi</option>
      <option>catppuccin</option>
      <option>evergarden</option>
    </select>
  </div>
</nav>
