{% extends "base.html" %}

{% block title %}{% set title = "contact" %}{% endblock %}
{% block description %}{% set description = "get in touch with me :3" %}{% endblock %}

{% block main %}
  <p>contact stuffs</p>

  <p>
    {% for link in links %}
      {% if link.rel is not containing("me") %}{% continue %}{% endif %}
      {% set title_length = link.title | length %}
      {{ link.title }}:{% for i in range(end=max_link_title - title_length + 1) %}&nbsp;{% endfor %}<a class="target-blank" href="{{ link.href }}" rel="{{ link.rel }}">{{ link.name }}</a>
      <br>
    {% endfor %}
  </p>

  <p>
    <a class="target-blank" href="{{ git_url }}/.profile/raw/branch/main/ecc_pub_key">ECC Public Key</a>:
    <code>00F6 1623 FB56 BC5B B709 4E63 4CE6 C117 2DF6 BE79</code>
    <br>
    <a class="target-blank" href="{{ git_url }}/.profile/raw/branch/main/rsa_pub_key">RSA Public Key</a>:
    <code>5A53 0832 DA91 20B0 CA57 DDB6 7CBD B58E CF1D 3478</code>
    (git; sign-only)
  </p>

  <img src="/img/gifs/cellphone-jumping.gif" height="70px" width="70px" alt="cellphone jumping">
  <img src="/img/gifs/phones-ringing.gif" height="70px" width="70px" alt="phone ringing">
  <img src="/img/gifs/cellphone.gif" height="70px" width="70px" alt="cellphone">
  <img src="/img/gifs/spooky-email.gif" height="70px" width="160px" alt="spooky email">
{% endblock %}
