{% extends "base.html" %}

{% block title %}{% set title = "contact" %}{% endblock %}
{% block description %}{% set description = "get in touch with me :3" %}{% endblock %}

{% block main %}
  <p>contact stuffs</p>

  <p>
    join my
    <a class="target-blank" href="https://ebil.club/discord">discord server</a>
    !!
  </p>

  <p>
    {% for link in links %}
      {% if link.rel is not containing("me") %}{% continue %}{% endif %}
      {% set title_length = link.title | length %}
      {{ link.title }}:{% for i in range(end=max_link_title - title_length + 1) %}&nbsp;{% endfor %}<a class="target-blank" href="{{ link.href }}" rel="{{ link.rel }}">{{ link.name }}</a>
      <br>
    {% endfor %}
  </p>

  <p>
    <a class="target-blank" href="/keys/00F61623FB56BC5BB7094E634CE6C1172DF6BE79.asc">ECC</a>:
      <code>00F61623FB56BC5BB7094E634CE6C1172DF6BE79</code>
    <br>
    <a class="target-blank" href="/keys/5A530832DA9120B0CA57DDB67CBDB58ECF1D3478.asc">RSA</a>:
      <code>5A530832DA9120B0CA57DDB67CBDB58ECF1D3478</code>
    (sign-only)
  </p>

  <img src="/img/gifs/cellphone-jumping.gif" height="70px" width="70px" alt="cellphone jumping">
  <img src="/img/gifs/phones-ringing.gif" height="70px" width="70px" alt="phone ringing">
  <img src="/img/gifs/cellphone.gif" height="70px" width="70px" alt="cellphone">
  <img src="/img/gifs/spooky-email.gif" height="70px" width="160px" alt="spooky email">
{% endblock %}
