{% extends "base.html" %}

{% block title %}{% set title = "donate" %}{% endblock %}
{% block description %}{% set description = "giv me moneyz pls :3" %}{% endblock %}

{% block main %}
  <p>
    giv me moneyz pls?
    <span class="inline-img"><img src="/img/gifs/smilies/begging.gif" alt="shocked smiley"></span>
    <br>
    just kidding lol not telling you what to do
    <br>
    still, i'm bit broke and if you want to support my work, feel free to tip :3
    <br>
    you can do it via either <a class="target-blank" href="https://ko-fi.com/koibtw">ko-fi</a> or <a class="target-blank" href="https://github.com/sponsors/koibtw">github sponsors</a>
  </p>
  <p>
    some cool perks like a badge on both my and your github profiles and a notification on this site are included!! (not guaranteed though)
  </p>

  {% for i in range(end=3) %}
    <img src="/img/gifs/spinning-dollar-bill.gif" width="100px" height="40px" alt="spinning dollar bill">
  {% endfor %}
{% endblock %}
