{% extends "base.html" %}
{% block meta %}{% set extra_styles = ["home"] %}{% endblock %}
{% block content -%}
<p>
  meow meow meow meow meo wmeow meow mweO WMEO WME WOmewo meow meow
  <br>
  mewo mweo mweom weowmeowmeomweo mweomw eomw eoweo weomw eow :3
</p>
<p>
  meow !
</p>
<p>
  uh idk its really late when im writing this ill put something here eventually probably trust
  the process :3
</p>
{%- endblock %}
{% block main -%}
<iframe
    src="https://ad.ari.lt/ads/embed?from=koi.rip"
    referrerpolicy="no-referrer"
    title="An advertisement showing a silly image and author information."
    width="722"
    height="98"
    loading="lazy"></iframe>
<div>
  <div>
    <a href="https://ebil.club/webring/koi/prev/">&lt;-</a>
    <a href="https://ebil.club/webring/">ebil.club</a>
    <a href="https://ebil.club/webring/koi/next/">-&gt;</a>
  </div>
  <div>
    <a href="https://nixwebr.ing/prev/koi">&lt;-</a>
    <a href="https://nixwebr.ing">nix</a>
    <a href="https://nixwebr.ing/next/koi">-&gt;</a>
  </div>
  <div>
    <a href="https://ctp-webr.ing/koi/previous">&lt;-</a>
    <a href="https://ctp-webr.ing">catppuccin</a>
    <a href="https://ctp-webr.ing/koi/next">-&gt;</a>
  </div>
</div>
{%- endblock %}
