#guestbook-name {
  width: 100%;
  margin-bottom: 1rem;
}

#guestbook-submit {
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

#guestbook-entries {
  padding-top: 1rem;
  margin-top: 1rem;
  border-top: var(--border-dashed);
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 1rem;
}

@media (max-width: 1310px) {
  #guestbook-entries {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 854px) {
  #guestbook-submit {
    width: 100%;
  }
}

.guestbook-entry {
  border: 2px solid var(--bg-alt);
  padding: 0.5rem;
  text-wrap: balance;
  overflow-wrap: anywhere;
}

.guestbook-entry-name {
  margin-bottom: 0.25rem;
  font-style: italic;
}
