select {
  color: var(--fg);
  background-color: var(--bg);
  appearance:none;
  outline: none;
}

input, textarea {
  border: 2px solid var(--bg-alt);
  color: var(--fg);
  padding: 0.5em;
  box-sizing: border-box;
}

input:focus, textarea:focus {
  outline: none;
  border-color: var(--fg-alt);
}

label {
  line-height: 1.5rem;
  overflow: hidden;
  white-space: nowrap;
}

button {
  background-color: var(--bg-alt);
  color: var(--fg);
  padding: 0.5em 1em;
  cursor: pointer;
}

button:disabled {
  background-color: var(--bg-alt);
  opacity: 0.5;
  cursor: not-allowed;
}

*::placeholder {
  color: var(--fg-alt);
}

.form-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1rem;
}

.form-container-left, .form-container-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form-textarea {
  width: 100%;
  resize: none;
  min-height: fit-content;
}
