{%- block meta %}{% endblock %}
{%- if not extra_styles %}
  {%- set extra_styles = [] %}
{%- endif %}
{%- if title %}
  {%- set title_meta = title ~ " - june" %}
{%- else %}
  {%- set title = "june" %}
  {%- set title_meta = "june" %}
{%- endif -%}
{%- if not description %}
  {%- set description = "webbed site with mimi cat running around !" %}
{%- endif -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    <meta name="darkreader-lock">
    {% if noindex -%}
    <meta name="robots" content="noindex, follow">
    {% else -%}
    <meta name="robots" content="index, follow">
    {% endif -%}
    <title>{{ title_meta }}</title>
    <meta name="title" content="{{ title_meta }}">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="june">
    <meta name="theme-color" content="#cbe3b3">
    <link rel="canonical" href="{{ canonical }}">
    {% for link in links -%}
    {% if link.title %}{% continue %}{% endif -%}
    <link rel="{{ link.rel }}" href="{{ link.href }}"
      {%- if link.ltype %} type="{{ link.ltype }}"{% endif -%}
      {%- if link.sizes %} sizes="{{ link.sizes }}"{% endif -%}>
    {% endfor -%}
    {% for style in extra_styles -%}
    <link rel="stylesheet" href="/styles/extra/{{style}}.css">
    {% endfor -%}
    <meta property="og:title" content="{{ title_meta }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ canonical }}">
  </head>
  <body>
    <main>
      <h1>{{ title }}</h1>
      <div class="content">
        {% block content %}{% endblock %}
        <hr>
      </div>
      {% block main %}{% endblock %}
    </main>
    <div class="background"></div>
    <nav>
      {% include "partials/nav.html" -%}
    </nav>
    <script src="/static/oneko.js" data-cat="img/mimi-oneko.gif" async></script>
  </body>
</html>
