{% block title %}{% endblock -%}
{% if title -%}
{% set title = title ~ " - june" -%}
{% else -%}
{% set title = "june" -%}
{% endif -%}
{% block description %}{% set description = "TODO" %}{% endblock -%}
{% block noindex %}{% endblock -%}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="dark">
    <meta name="darkreader-lock">
    {% if noindex -%}
    <meta name="robots" content="noindex, follow">
    {% else -%}
    <meta name="robots" content="index, follow">
    {% endif -%}
    <title>{{ title }}</title>
    <meta name="title" content="{{ title }}">
    <meta name="description" content="{{ description }}">
    <meta name="author" content="june">
    <meta name="theme-color" content="#cbe3b3">
    <link rel="canonical" href="{{ canonical }}">
    {% for link in links -%}
    <link
      rel="{{ link.rel }}"
      href="{{ link.href }}"
      {% if link.title %}title="{{ link.title }}" {% endif -%}
      {% if link.ltype %}type="{{ link.ltype }}" {% endif -%}
      {% if link.sizes %}sizes="{{ link.sizes }}" {% endif -%}>
    {% endfor -%}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ canonical }}">
    <meta property="og:image" content="{{ host }}/img/mimi-banner.gif">
    <meta property="og:image:type" content="image/gif">
    <meta property="og:image:width" content="496">
    <meta property="og:image:height" content="32">
    <meta property="og:image:alt" content="mimi the cat running around">
  </head>
  <body>
    <script src="/static/oneko.js" data-cat="img/mimi-oneko.gif" async></script>
  </body>
</html>
