html {
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Maple Mono", monospace;
}

@font-face {
  font-family: 'Maple Mono';
  src: url('/static/fonts/MapleMono-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-feature-settings: 'liga', 'tnum';
  font-variant-ligatures: contextual;
}

@font-face {
  font-family: 'Maple Mono';
  src: url('/static/fonts/MapleMono-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-feature-settings: 'liga', 'tnum';
  font-variant-ligatures: contextual;
}
