* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

input, button, textarea, select {
  border: unset;
  background: unset;
  padding: unset;
  font: inherit;
}

img {
  image-rendering: pixelated;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

select:hover {
  cursor: pointer
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

@media (max-width: 854px) {
  .mobile-hide {
    display: none !important;
  }
}
