.theme-mimi {
  --fg: #eacfb7;
  --bg: #1c1207;
  --fg-alt: #8c6f53;
  --bg-alt: #33200d;
  --accent: #af4c58;
}

.theme-catppuccin {
  --fg: #cdd6f4;
  --bg: #181825;
  --fg-alt: #6c7086;
  --bg-alt: #313244;
  --accent: #b4befe;
}

.theme-evergarden {
  --fg: #f8f9e8;
  --bg: #1c2225;
  --fg-alt: #96b4aa;
  --bg-alt: #2b3337;
  --accent: #cbe3b3;
}

.theme-rip-skelly {
  --fg: #fff;
  --bg: #000;
  --fg-alt: #aaa;
  --bg-alt: #333;
  --accent: #00ff00;
}

@media (min-width: 855px) {
  .bg-mimi {
    background-image: url('/img/backgrounds/mimi.webp');
  }
  .bg-catppuccin {
    background-image: url('/img/backgrounds/catppuccin.webp');
  }
  .bg-evergarden {
    background-image: url('/img/backgrounds/evergarden.webp');
  }
  .bg-rip-skelly {
    background-repeat: repeat;
    background-position: center;
    background-size: auto !important;
    background-image: url('/img/gifs/rip-skelly.gif');
  }
}

* {
  will-change: color, background-color, border-color;
}

:root {
  --border-dashed: 4px dashed var(--bg-alt);
}
